.card {
    margin-top: 30px;
    position: relative;
    @apply bg-white rounded-lg shadow-md p-4 flex items-center justify-center flex-col text-center rounded-t-lg;

    header {
        @apply flex justify-start gap-5 w-full;

        figure {
            overflow: hidden;
            border-radius: 100%;
            width: 120px;
            height: 120px;
            min-width: 120px;
            text-align: center;
            margin-top: -50px;
            @apply shadow-2xl;
            img {
                @apply w-full h-full object-cover;
            }
        }
        .title {
            @apply text-center w-full;
            h3 {
                @apply text-xl font-bold capitalize;
                display: inline;
            }
            .price {
                @apply text-xl;
            }
        }
    }

    .info {
        @apply p-4;
        .description {
            @apply m-2;
            line-height: 1em;
        }
    }

    footer {
        @apply flex gap-5;
    }
}
