.card {
    margin-top: 30px;
    position: relative;
    @apply bg-white rounded-lg shadow-md p-4 flex items-center justify-center flex-col text-center rounded-t-lg;

    .price {
        @apply text-xl;

        &::before {
            content: "$";
        }
    }
    .info {
        @apply p-4;
        h3 {
            @apply text-xl font-bold capitalize;
        }
        .description {
            @apply m-5;
        }
    }
    figure {
        overflow: hidden;
        border-radius: 100%;
        width: 200px;
        height: 200px;
        text-align: center;
        margin-top: -50px;
        @apply shadow-lg;
        img {
            @apply w-full h-full object-cover;
        }
    }

    .addItem {
        @apply capitalize bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
    }

    footer {
        @apply flex gap-5;
    }
}
