.order {
    @apply p-5;
    h2 {
        @apply text-left font-bold text-lg;
    }
    .yours {
        @apply mb-5;
    }
    .person {
        @apply mb-5;
        .actions {
            @apply flex flex-wrap;
        }
        .total {
            @apply font-bold text-xl;
        }
    }
    .dish {
        border-bottom: 2px solid $lightGray;
        margin-bottom: 10px;
        padding-bottom: 10px;

        .title {
            @apply flex flex-wrap justify-between;
            h3 {
                @apply font-bold;
                max-width: 50%;
            }
            .actions {
                @apply flex flex-wrap gap-2;
            }
        }
        .options {
            @apply ml-4;
            .option {
                @apply flex flex-wrap justify-between;
            }
        }
        .price {
            @apply text-right font-bold;
        }
    }

    footer {
        @apply py-5 mt-5 w-full;
    }
}
